<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Account Recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="center-content">Account Recovery</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="center-content">
              <img src="https://ui-avatars.com/api/?background=0D8ABC&color=fff" alt="Profile 3" />
            </div>
            <div class="button-container">
              <ion-button expand="full" type="submit">Send Reset Link</ion-button>
            </div>            
            <div class="text-center mt-3">
              <p>Remembered your password? <a routerLink="/login">Login</a></p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
