<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Account Recovery Successful</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <div class="container">
    <h2>Account Recovery</h2>

    <div class="profile-option">
      <img src="https://ui-avatars.com/api/?background=0D8ABC&color=fff" alt="Profile 1" />
      <ion-button expand="block" color="primary">This is me</ion-button>
    </div>

    <div class="profile-option">
      <img src="https://ui-avatars.com/api/?background=0D8ABC&color=fff" alt="Profile 2" />
      <ion-button expand="block" color="primary">This is me</ion-button>
    </div>

    <div class="profile-option">
      <img src="https://ui-avatars.com/api/?background=0D8ABC&color=fff" alt="Profile 3" />
      <ion-button expand="block" color="primary">This is me</ion-button>
    </div>

    <p class="alt-option">No, it is not me. <a href="/register">Register</a></p>

    <ion-text class="support-link">
      <a href="#">Customer Support</a>
    </ion-text>
  </div>
</ion-content>

