<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Password Reset Link</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h2>Account Recovery</h2>
    <div>
      <div class="profile-option">
        <img src="https://ui-avatars.com/api/?background=0D8ABC&color=fff" alt="Email" />
        <p>Email: </p> 
        <ion-label></ion-label>
        <ion-button expand="block" color="primary">Send Pass Word Reset Link</ion-button>
      </div>
    </div>
    <p class="customer-support"><a>Customer support</a></p>
  </div>
</ion-content>
